MIBs for DellEMC SmartFabric OS10 Devices

Hi,
Our S4128T-ON DellEMC switches are not recognized by Netdisco.
The model is shown as
.11000.5000.100.2.1.9
(complete OID is .1.3.6.1.4.1.674.11000.5000.100.2.1.9)

Is it possible to add the MIBs to extend netdisco?

I think the correct MIBS are in the ZIP package here attached.
[dell-os10.zip](https://github.com/netdisco/netdisco-mibs/files/6244891/dell-os10.zip)



accordind to https://www.dell.com/support/manuals/fr-be/force10-s4048-on/smartfabric-os-user-guide-10-5-1/mibs?guid=guid-1521dfef-87fd-44d5-85f9-0b8813373278&lang=en-us there should also be a `DELLEMC-OS10-PORT-SECURITY-MIB` , do you have that one as well?

also, if you have an active account with dell, perhaps you could get the latest versions of these mibs?

thx

Dear Nick,
i obtained the most complete version from Dell Support.
Here it is.
[OS10_Enterprise_MIB_10.5.2.0.zip](https://github.com/netdisco/netdisco-mibs/files/6432134/OS10_Enterprise_MIB_10.5.2.0.zip)


2 dells mibs seem to disagree on how  ...674.11000 should be called

FluidFS-MIB.txt says enterpriseSoftware
DELLEMC-OS10-SMI-MIB.mib says enterpriseSW

don't think it's a huge issue but i'll wait a few days to see if someone objects.

Hi @netdiver , I have attached the latest DELL MIBs in #158 , if you have time to merge both.

Thank you very very much.


Output from `OS10_Enterprise_MIB_10.5.2.0.zip`:

> spike scripts % ./prepmibs ~/tmp/mib/dell
👀 Scanning submitted files
👀 Building MIBs baseline
✔ Index rebuilt (0 errors, 99 vendors, 4525 mibs).
= DELLEMC-OS10-BGP4V2-MIB is the same revision (in same/DELLEMC-OS10-BGP4V2-MIB.mib)
= DELLEMC-OS10-CHASSIS-MIB is the same revision (in same/DELLEMC-OS10-CHASSIS-MIB.mib)
= DELLEMC-OS10-PORT-SECURITY-MIB is the same revision (in same/DELLEMC-OS10-PORT-SECURITY-MIB.mib)
= DELLEMC-OS10-PRODUCTS-MIB is the same revision (in same/DELLEMC-OS10-PRODUCTS-MIB.mib)
= DELLEMC-OS10-SMI-MIB is the same revision (in same/DELLEMC-OS10-SMI-MIB.mib)
= DELLEMC-OS10-TC-MIB is the same revision (in same/DELLEMC-OS10-TC-MIB.mib)
⭑ RFC-1212 (in RFC-1212.mib)
✘ BRIDGE-MIB already known in rfc (in other/BRIDGE-MIB.mib)
✘ ENTITY-MIB already known in rfc (in other/ENTITY-MIB.mib)
✘ EtherLike-MIB already known in rfc (EtherLike-MIB.mib ⇰ other/ETHERLIKE-MIB.mib)
✘ HOST-RESOURCES-MIB already known in rfc (in other/HOST-RESOURCES-MIB.mib)
✘ IANA-ADDRESS-FAMILY-NUMBERS-MIB already known in rfc (in other/IANA-ADDRESS-FAMILY-NUMBERS-MIB.mib)
✘ IANA-ENTITY-MIB already known in rfc (in other/IANA-ENTITY-MIB.mib)
✘ IANA-RTPROTO-MIB already known in rfc (in other/IANA-RTPROTO-MIB.mib)
✘ IANAifType-MIB already known in rfc (IANAifType-MIB.mib ⇰ other/IANAIFTYPE-MIB.mib)
✘ IEEE8021-PFC-MIB already known in rfc (in other/IEEE8021-PFC-MIB.mib)
✘ IEEE8023-LAG-MIB already known in rfc (in other/IEEE8023-LAG-MIB.mib)
✘ IF-MIB already known in rfc (in other/IF-MIB.mib)
✘ INET-ADDRESS-MIB already known in rfc (in other/INET-ADDRESS-MIB.mib)
✘ IP-FORWARD-MIB already known in rfc (in other/IP-FORWARD-MIB.mib)
✘ IP-MIB already known in rfc (in other/IP-MIB.mib)
✘ LLDP-EXT-DOT1-MIB already known in rfc (in other/LLDP-EXT-DOT1-MIB.mib)
✘ LLDP-EXT-DOT3-MIB already known in rfc (in other/LLDP-EXT-DOT3-MIB.mib)
✘ LLDP-MIB already known in rfc (in other/LLDP-MIB.mib)
✘ OSPF-MIB already known in rfc (in other/OSPF-MIB.mib)
✘ OSPFV3-MIB already known in rfc (in other/OSPFV3-MIB.mib)
✘ P-BRIDGE-MIB already known in rfc (in other/P-BRIDGE-MIB.mib)
✘ Q-BRIDGE-MIB already known in rfc (in other/Q-BRIDGE-MIB.mib)
✘ RFC1155-SMI already known in rfc (in other/RFC1155-SMI.mib)
✘ RFC1213-MIB already known in rfc (in other/RFC1213-MIB.mib)
✘ RFC1271-MIB already known in rfc (in other/RFC1271-MIB.mib)
✘ RMON-MIB already known in rfc (in other/RMON-MIB.mib)
✘ RMON2-MIB already known in rfc (in other/RMON2-MIB.mib)
✘ SFLOW-MIB already known in rfc (in other/SFLOW-MIB.mib)
✘ SNMP-FRAMEWORK-MIB already known in rfc (in other/SNMP-FRAMEWORK-MIB.mib)
✘ SNMP-MPD-MIB already known in rfc (in other/SNMP-MPD-MIB.mib)
✘ SNMP-TARGET-MIB already known in rfc (in other/SNMP-TARGET-MIB.mib)
✘ SNMP-USER-BASED-SM-MIB already known in rfc (in other/SNMP-USER-BASED-SM-MIB.mib)
✘ SNMP-VIEW-BASED-ACM-MIB already known in rfc (in other/SNMP-VIEW-BASED-ACM-MIB.mib)
✘ SNMPv2-CONF already known in rfc (SNMPv2-CONF.mib ⇰ other/SNMPV2-CONF.mib)
✘ SNMPv2-MIB already known in rfc (SNMPv2-MIB.mib ⇰ other/SNMPV2-MIB.mib)
✘ SNMPv2-SMI already known in rfc (SNMPv2-SMI.mib ⇰ other/SNMPV2-SMI.mib)
✘ SNMPv2-TC already known in rfc (SNMPv2-TC.mib ⇰ other/SNMPV2-TC.mib)
✘ TCP-MIB already known in rfc (in other/TCP-MIB.mib)
✘ TOKEN-RING-RMON-MIB already known in rfc (in other/TOKEN-RING-RMON-MIB.mib)
✘ UDP-MIB already known in rfc (in other/UDP-MIB.mib)
✘ UUID-TC-MIB already known in rfc (in other/UUID-TC-MIB.mib)
✔ MIBs ready for import.

Looks like all the Dell OS10 MIBs are already imported, closing this ticket.